<h1>All The Books Belong To Us</h1>

<%= button_to "Add New Book", new_entry_path, method: :get %>


<ul>
  <% @entries.each do |entry| %>
    <li>
      <a href="/entries/<%= entry.id %>">
        <%= entry.book_title %>
      </a>
      <a href="/entries/<%= entry.id %>">
        <%= entry.pages %>
      </a>
      <a href="/entries/<%= entry.id %>">
        <%= entry.date %>
      </a>
    </li>
  <% end %>
</ul>
