<h1>View Reading Entry</h1>


    <li>
       Title:  <%= @entry.book_title %>
      </a>
    </li>
    <li>
       Pages:  <%= @entry.pages %>
      </a>
    </li>
    <li>
       Date:  <%= @entry.date %>
      </a>
    </li>

    <ul>
      <li><%= link_to "Edit", edit_entry_path(@entry) %></li>
      <li><%= link_to "Destroy", entry_path(@entry),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
    </ul>